input.rounded-DEBUG{background-color:#cccc00;color:#000;cursor:pointer;font-weight:bold;font-size:14px;
		border:0;
		padding:5px 20px;
		border-bottom-left-radius:10px 10px;
		border-bottom-right-radius:10px 10px;	
		border-top-left-radius:10px 10px;
		border-top-right-radius:10px 10px;}

span.DEBUG{display:block;width:auto;background-color:#cccc00;color:#000;padding:10px;margin-bottom:0px;}

/* 

	SCHEMESERVE SITES CSS
	(c) ADM Network 2010
	http://www.SchemeServe.com

*/


/* SHARED */

/* shared elements */
body{margin:0px;font-size:12px;font-family:Lucida Grande,Arial,Helvetica,Sans-serif;}
h1{font-size:24px;font-weight:bold;}
h2{font-size:20px;font-weight:normal;color:#ccc;float:right;margin-top:-43px;}
h3{font-size:18px;margin:10px 0;}
h4{font-size:14px;margin:0 0 10px 0;}
span.opt{color:#999;font-weight:normal;}
p{font-size:13px;font-weight:normal;}
a{color:#0066FF;font-size:14px;font-weight:bold;text-decoration:none;}
a:hover{color:#0066FF;font-weight:bolder;text-decoration:underline;}
a.red{padding:3px;color:#ee0000;font-size:12px;font-weight:normal;text-decoration:underline;}
a.red:hover{color:#fff;background-color:#ee0000;font-weight:normal;text-decoration:none;}

/* logo, nav and footer that appear on most if not all pages */
div#logo{margin:10px;}
div#nav{display:block;width:auto;background-color:#dd0000;color:#000;padding:10px;margin-bottom:0px;}
div#nav li{display:inline;margin-right:10px;}
div#nav li a{padding:10px;color:#fff;font-size:13px;font-weight:normal;text-decoration:none;border:1px solid #fff;}
div#nav li a:hover{color:#fff;background-color:#aa0000;font-weight:normal;text-decoration:none;border:1px solid #fff;}
div#footer{display:block;margin-top:50px;width:auto;background-color:#fff;border-top:#dd0000 4px solid;color:#000;padding:5px;margin-bottom:0px;text-align:center;}

/* positioning */
.left{float:left;}
.right{float:right;}

/* useful form spacers */
.gaptop10{margin-top:10px;}
.gaptop20{margin-top:20px;}
.gaptop25{margin-top:25px;}
.gaptop30{margin-top:30px;}
.splitter_dots{height:1px;border-top:2px dotted #ccc;margin:25px 0 5px 0;}

/* sexy buttons with rounded corners */
input.rounded{background-color:#cc0000;color:#fff;cursor:pointer;font-weight:bold;font-size:14px;
	border:0;
	padding:5px 20px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;	
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;}

/* containers used on every page */
#innerContainer{/*nothing*/}
#outerContainer{/*nothing*/}
#mainContent{width:950px;border-left:1px solid #D5D5D5;border-right:1px solid #D5D5D5;margin:auto;background-color:#FFFFFF;padding:20px;}



/* GET QUOTE PAGES */

/* some pages are split into two columns; we had to use a table this time :( */
.columns{width:875px;padding:0;}
.leftColumn{width:425px;vertical-align:top;}
.rightColumn{width:425px;vertical-align:top;}
.spacerColumn{width:25px;}

/* bordered boxes used on most pages */
div.edgy{width:auto;border:1px solid #ccc;border-width:1px 3px;margin:20px 15px;padding:30px 20px;}
div.edgy_error{border:1px solid #ee0000;background-color:#ffeeee;border-width:1px 3px;}
div.edgy input.client-name, div.edgy input.date, div.edgy input.client-email {float: left; margin: 0 10px 0 0;}

div.edgy input.client-email {text-transform: lowercase}

/* normal input boxes and their labels */
div.edgy input{display:block;text-transform:capitalize;color:#444;font-size:14px;width:400px;height:20px;padding:2px 4px;margin:0 0 8px 0;
	border-bottom-style: inset;
	border-bottom-width: 2px;
	border-left-style: inset;
	border-left-width: 2px;
	border-right-style: inset;
	border-right-width: 2px;
	border-top-style: inset;
	border-top-width: 2px;
	}
div.edgy input.error{color:#000;background-color:#fffafa;border-color:#ffcccc;
	border-bottom-style: inset;
	border-bottom-width: 2px;	
	border-left-style: inset;
	border-left-width: 2px;
	border-right-style: inset;
	border-right-width: 2px;
	border-top-style: inset;
	border-top-width: 2px;
	}
div.edgy input.small{width:250px;}
div.edgy input.smaller{width:150px;}
div.edgy input.word{width:100px;}
div.edgy input.postcode{width:100px;text-transform:uppercase;}
div.edgy input.password{width:200px;text-transform:none;}
div.edgy input.number{width:150px;text-transform:none;} /* ony for numbers please, otherwise use .word */
div.edgy input.money{width:150px;text-transform:none;} /* use this one for money e.g. £123.45 */
div.edgy input.date{width:100px;text-transform:none;} /* and this for dates e.g. 11/11/11 */
div.edgy input.tiny{width:50px;}
div.edgy label{font-size:14px;display:block;font-weight:bold;margin-bottom:5px;}
div.edgy label.error{/*nothing*/}
div.edgy label.big{font-size:18px;display:block;font-weight:bold;margin-bottom:8px;}
div.edgy label.sub{font-size:14px;display:inline;font-weight:normal;color:#888;}
div.edgy label.indent,
div.edgy input.indent{margin:0 0 10px 35px;}
div.edgy input.nocaps{text-transform:none;}

/* radio button inputs and their labels */
div.edgy input.radio{display:inline;width:15px;height:15px;margin:8px 8px 8px 0;padding:0;}
div.edgy label.sub_radio{display:inline;font-size:14px;font-weight:normal;margin:0;padding:0;}

/* text shown below input fields */
div.edgy p.field_desc{color:#aaa;font-size:13px;margin:10px 0 0 0;}
div.edgy p.field_desc.error{color:#ee0000;}
div.edgy p.field_desc a{color:#0088FF;font-size:13px;font-weight:normal;text-decoration:underline;}
div.edgy p.field_desc a:hover{color:#0066FF;font-weight:normal;text-decoration:underline;}

/* other text shown within edgy boxes */
div.edgy p{margin:15px 0;}
div.edgy p a{color:#0088FF;font-size:13px;font-weight:normal;text-decoration:underline;}
div.edgy p a:hover{color:#0066FF;font-weight:normal;text-decoration:underline;}



/* GET QUOTE, CHOOSE SCHEME PAGE */
ul#chooseScheme{width:auto;list-style-type:none;margin:20px 15px 15px -25px;}
ul#chooseScheme li{line-height:25px;margin-bottom:5px;padding:5px 20px 5px 20px;border:1px solid #ccc;border-width:1px 3px;}
ul#chooseScheme li a{font-size:14px;font-weight:bold;text-decoration:none;}
ul#chooseScheme li.active{font-weight:bolder;text-decoration:underline;}
ul#chooseScheme li a:hover{font-weight:bolder;text-decoration:underline;}


/* GET QUOTE, AGENT NO AUTH PAGE */
div.edgy p.big{font-size:18px;}
div.edgy p.big a{color:#0088FF;font-size:18px;font-weight:normal;text-decoration:underline;}
div.edgy p.big a:hover{color:#0066FF;font-weight:normal;text-decoration:underline;}
h3 span.unbold{font-weight:normal;}

#topLogo{margin:20px auto 9px auto;width:940px;}
#topLogo a{text-decoration:none;}
#topLogo img{border:none;margin-bottom:10px;}
#topLogo div#phoneNo{margin:0;margin-left:280px;margin-top:-38px;}
#topLogo div#phoneNo p{margin:0 0 0 30px;font-size:24px;font-weight:bold;}
#topLogo div#phoneNo img{float:left;margin:1px 0 0 0;width:24px;height:24px;}
ul#topMenuList{width:800px;list-style-type:none;margin:0 auto;padding-top:2px;}
ul#topMenuList li{text-align:center;line-height:25px;display:inline;padding:0px 20px 0px 20px;}
ul#topMenuList li a{font-size:14px;font-weight:bold;text-decoration:none;}
ul#topMenuList li.active{font-weight:bolder;text-decoration:underline;}
ul#topMenuList li a:hover{font-weight:bolder;text-decoration:underline;}
#searchDiv { margin-top:-30px; float:right; line-height:35px; }
#topMenu{text-align:center;background-color:#FF0000;height:26px;background-image:url('../images/faderHeader.png');background-repeat:repeat-x;color:#FFFFFF;}
#topMenu a{color:#FFFFFF;}
#header{background-color:#FFFFFF;}

#footerContent{background-color:#EEEEEE;background-image:url('../images/faderFooter.png');background-repeat:repeat-x;padding-top:20px;}
#extraFooter{font-size:10px;padding:15px;background-color:#CCCCCC;text-align:center;}
#sideMenu{width:180px;}
ul#sideMenuList{margin:0px;padding:0px;list-style-type:none;}
#sideMenuList li.top{font-weight:bold;color:#FFFFFF;text-align:center;line-height:30px;width:160px;height:30px;background-color:#FF0000;border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;border-top:1px solid #CCCCCC;}
#sideMenuList li{text-align:center;line-height:25px;width:160px;height:25px;background-color:#EEEEEE;border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;}
#sideMenuList li a{color:#000000;text-decoration:none;}
#sideMenuList li.active{font-weight:bold;}
#sideContent{width:780px;text-align:left;}
#sideContent a:visited{color:blue;}
#footer{background-color:#EEEEEE;}
#footerTable{text-align:left;margin-top:10px;}
#footerTable thead td{color:#FF0000}
#footerTable td{padding-right:15px;}

/* classes and schemes links in footer */
#footerTable thead a{color:#ff0000;}
#footerTable thead a:hover{color:#fff;background-color:#ff0000;}
#footerTable tbody a{color:#000000;}
#footerTable tbody a:hover{color:#fff;background-color:#000;}

/* general footer links */
#footerLinks { text-align: center; padding: 10px;}
#footerLinks a{color:#000000;}
#footerLinks a:hover{color:#fff;background-color:#000;}
#footerLinks span {color:red;}

#searchDiv input.searchButton { border:1px solid; padding:4px 7px; font-size:12px; cursor:pointer; 
background-color: #000000; color: 
#FFFFFF; }
#searchDiv input { border:1px solid;}
img { border: 0; }
#sideContent.clearMargin { margin-left: 0px; !important }

#rightContainer { float: right; width: 170px; }
#rightContainer #rightImage { margin: 15px 3px 15px 0px; }
#rightContainer #rightMenu { border: 2px solid #CBCBCB; padding: 0px 8px 0px 8px; -webkit-border-radius: 15px; -moz-border-radius: 15px; margin-left:-1px; width:144px;}
#rightContainer #rightMenu li { font-size: 12px; padding-bottom: 14px;}
#rightContainer #rightMenu li.bottom { padding-bottom: 3px; }
#rightContainer #rightMenu li img { border: 0px; position: relative; top: 3px; }
#rightContainer #rightMenu li a { color: #000000; font-weight: normal; text-decoration: underline; }
#rightContainer #rightMenu ul { list-style-type: none; padding-left: 0px; margin: 10px 5px 10px 5px; }

#homeHeaderImages img {padding:0 3px;}

.align-right { float:right; margin: 0 0 5px 5px; }
.align-left { float:left; margin: 0 5px 5px 0; }

.DEBUG {
    display: none !important;
}

#client-title {
    float: left;
    height: 28px;
    margin-right: 10px;
}

.date-to {
    font-size: 15px;
    margin: 5px 10px 0 0;
    float: left;
}

label.error {
    color: red;
}